.main .star{

  cursor:pointer;
  background-color: red;
margin-left: 10px;
  
  }

  .main{

    display:flex;
    flex-direction: row;
justify-content: space-between;  
  

  }
  
  .star:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }