header ul {
  display: flex;
  gap: 16px;
  justify-content: center;
}
header ul li a {
  color: var(--title);
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header button {
  font-size: 1.2rem;
}

header nav {
  background-color: var(--bgheader) !important;
  padding:0.77rem 1.6rem !important;
  border-radius: 22px !important;
}
