header ul {
  display: flex;
  gap: 16px;
  justify-content: center;
}

header ul li a {
  color: var(--title);
  transition: 0.2s all ease-in-out;
  opacity: 0.9;
  font-size: 0.88rem;
  font-weight: 500;

}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1.2rem !important;

}

header button {
  font-size: 1.2rem;
}

header nav {
  background-color: var(--bgheader) !important;
  padding: 0.77rem 1.6rem !important;
  border-radius: 22px !important;
  box-shadow: 1px 1px 2px red;
}

header ul li a:hover {
  opacity: 1;
  color: var(--blue);
}


@media (max-width:700px) {
  header nav {
    display: none;
  }


}

@media(min-width:700px) {
  header .show {

    display: none;

  }



}


.popUp {
  border: 2px solid rgb(38, 32, 32);
  width: 80%;
  height: 40vh;
  position: fixed;
  top: 5rem;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 50;
  animation:move 0.7s ; 
  backdrop-filter:blur(2px) ;
}

.popUp button {

  position: absolute;
  right: 1rem;

}
 
@keyframes move {
  0% {
    scale: 0
  }

  60%{

    scale:1.2
  }

  100% {
    scale: 1
  }
}