.main-content {

  display: flex;
  gap: 3rem;


}

.main-content .right {

  flex-grow: 1;

}


.main-content .left {

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;


}


.main-content .left button {
  color: rgb(136, 136, 136);
  text-align: center;
  background-color: rgb(29, 29, 29) !important;
  padding: 0.3rem !important;
  width: 150px;
  border:1px solid 213547;

}

.main-content .left button:hover{

  color:var(--title);


}

