.main-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: start;
  width: 90%;
  position: relative;
  left: 5%;
  margin-bottom: 2rem !important;
  margin-top: 1rem !important;
  height: fit-content !important;
  overflow: auto;
}

.main-content .right {
  flex-grow: 1;
  display: flex;
  width: 1000px;
  flex-wrap: wrap;
  column-gap: 3rem;
}

.main-content .left {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  min-width: 220px;
}

.main-content .left button {
  color: rgb(136, 136, 136);
  text-align: center;
  background-color: rgb(29, 29, 29) !important;
  padding: 0.3rem !important;
  width: 150px;
  border: 1px solid #213547;
}

.main-content .left button:hover {
  color: var(--title);
  border: 3px solid #30303e;
}

.main-content .left button.active {
  color: var(--title);
  border: 3px solid #30303e;
  letter-spacing: 0.1rem;
}

.main-content .right article {
  border: 1px solid rgb(15, 105, 207);
  transition: all 0.3s;
  border-radius: 5px;
  width: 320px;
  height: 500px;
  margin-bottom: 2rem !important;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.05)
  );
}

.main-content .right article:hover {
  border: 1px solid var(--blue);
  rotate: 1deg;
  scale: 1.01;
  cursor: pointer;
}

.main-content .right {
  flex-grow: 1;
  max-height: 100vh;
  overflow: visible;
}

.main-content .right article img {
  width: 100%;
min-height:50%;
}

.links-social {
  display: flex;
  width: 80%;
  margin: auto !important;
  justify-content: space-between;
  margin-bottom: 1rem !important;
  bottom:60px ;
  position:relative;
  align-self: center;

}

.inner-parts {
  display: flex;
  gap: 0.5rem;
}

.links-social:hover .icon-link,
.icon-github,
.icon-arrow-right2 {
  cursor: pointer;
}

.box {
  color: var(--subtitle);
  width: 80%;
  padding-left: 1rem !important;
}

.box p {
  margin-top: 0.7rem !important;
}

.box h1 {
  color: var(--title);
  font-size: 1.5rem;
}

.icon-link:hover,
.icon-github:hover {
  color: var(--title);
  font-size: large;
}

.arrow20 {
  display: flex;
  align-items: center;
  color: var(--blue);
}

.icon-arrow-right2:hover,
linka:hover {
  font-size: large !important;
}

.arrow20 a {
  color: var(--blue);
}

@media (max-width: 900px) {
  .main-content {
    flex-direction: column;
    align-items: center;
    gap: 0.1rem;
  }

  .main-content .right {
    text-align: center;
    justify-content: center;
    width: 80%;
  }

  .left {
    flex-direction: row !important;
    flex-wrap: wrap;
    height: 200px;
  }

  .left button {
    margin: 0 !important;
  }
}

@media (max-width: 430px) {
  .right,
  article,
  .box,
  .right img {
    min-width: 50px !important;
    max-width: 250px !important;
    font-size: 0.5rem;
    overflow: hidden !important;
    width: 100%;
  }

  .links-social {
    display: none;
  }
}


@media (max-width:500px){
.main-content .right{
position:relative;
top: 80px ;
  }

}