@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jpt7my');
  src:  url('fonts/icomoon.eot?jpt7my#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jpt7my') format('truetype'),
    url('fonts/icomoon.woff?jpt7my') format('woff'),
    url('fonts/icomoon.svg?jpt7my#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-moon-stroke:before {
  content: "\e900";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-verified:before {
  content: "\e902";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-x:before {
  content: "\e900";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-sun:before {
  content: "\e9d4";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}


.icon-moon-stroke, .icon-menu, .icon-cancel-circle{
background-color: var(--bgheader);
height: 2.4rem;
width:2.4rem;
border-radius: 50%;
justify-content: center;
color:var(--subtitle);
border:1px solid rgba(244, 165, 69, 0.249);
}