footer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 5.5% !important;
  margin-bottom: 3rem !important;
  margin-top: 3rem !important;
}

footer .Left-links ul {
  display: flex;
  gap: 2rem;
}

footer .Left-links ul li a {
  letter-spacing: 0.1rem;
  color:var(--subtitle)
}

footer .right-side p{

color:var(--subtitle);
opacity:0.8
}

@media (max-width: 1000px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 80%;
    margin-left: 5.5% !important;
  }
}

.scroll2up{

  background-color: rgb(30, 152, 152);
  border-radius: 50%;
  width: 2.6rem;
  height: 2.6rem;
  position:fixed;
  bottom:2rem;
  right:3%;
  text-align: center  ;
  border:1px solid rgba(255, 255, 255, 0.2);

}

.scroll2up:hover{

  background-color: rgb(17, 84, 84);


}