.avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 1px solid darkorange;
  padding: 1;
}

.sec-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
  max-height: 50vh;
  width: 90%;
  position: relative;
  left: 5%;
  font-size: 1.5rem;
}

section .article-p {
  padding: 1rem !important;
}

article h2 {
  color: var(--title);
  margin-bottom: 2rem !important;
}

section .Right-section {
translate: -160px;

}

@media(max-width:1600px){

  section .Right-section {
    translate: 50px;
    }
}

@media(max-width:800px){

  section .Right-section {
    display:none;
    }
}


article p {
  margin-bottom: 50px !important;
}

.ico:hover {
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: goldenrod !important;
}

.sec-1 .sss {
  align-self: self-start;
}
